# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Flask
instance/
.webassets-cache

# Pytest
.cache

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/
*.code-workspace

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Docker
*.log
docker-compose.override.yml
docker-compose.override.yaml

# SQLite
*.sqlite
*.sqlite3
*.db

# Alembic
migrations/versions/*.pyc

# Logs
*.log

# Caches
.cache/
.cache_db_0.10.db.wal

# Other
output/