
<div style="display:flex; flex-direction:column; padding: 0.3rem;">
    <style>
        
    </style>

    <div style="display: flex;flex-direction: row;justify-content: space-around; padding: 0.2rem;">
        <div style="display:flex; flex-direction:column; padding: 0.3rem;">
            <p>
                {{user.nome}}
            </p>
            <p>
                {{user.dep}}
            </p>
        </div>
        <img src="{{user.file}}" alt="user icon" style="width: 3.5rem; height: 3.5rem; border-radius: 50%; padding: 0.3rem;">
    </div>
    <div style="display: flex;flex-direction: row;" class="popup-container tcad">
        <div style="display: flex;flex-direction: row;">
            
        </div>
    </div>
</div>